server:
  port: 8080 # Gateway to główne wejście, więc standardowy port 8080

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      routes:
        - id: auth-service
          uri: http://localhost:8081
          predicates:
            - Path=/api/auth/**
        - id: gym-operations
          uri: http://localhost:8082
          predicates:
            - Path=/api/gym/**