server:
  port: 8083  # Membership & Payment Service będzie działał na porcie 8083

spring:
  application:
    name: membership-payment-service
  datasource:
    url: jdbc:postgresql://localhost:5434/membership_payment_db
    username: admin
    password: admin_password
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

# Swagger UI Configuration
springdoc:
  api-docs:
    path: /api-docs
  swagger-ui:
    path: /swagger-ui.html
